In [2]:
# !pip install kaggle
PATH = '../data/raw'
NAME = 'spaceship-titanic'
# download_command = f'kaggle competitions download -c {NAME} -p {PATH}'
# unzip_command = f'unzip {PATH}/{NAME}.zip -d {PATH}'
# !{download_command}
# !{unzip_command}

In [3]:
import os
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.metrics import classification_report
from scipy.stats import loguniform

In [6]:
df = pd.read_csv(os.path.join(PATH,'train.csv'))
df.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [9]:
df.isna().sum(axis=0)

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [12]:
df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

# Benchmark 1

- only use numerical cols
- histogram gb model (natively handle nan values)

In [19]:
df = pd.read_csv(os.path.join(PATH,'train.csv'))
y = df.pop('Transported')
X = df

X_tr, X_dev, y_tr, y_dev = train_test_split(X,y,test_size=0.2)

ohe = OneHotEncoder(drop='if_binary')
scaler = StandardScaler()

ct = make_column_transformer(
    # (ohe, ['Destination','HomePlanet']),
    (scaler, make_column_selector(dtype_include=np.number)),
    remainder='drop',
)

pipe = make_pipeline(
    ct,HistGradientBoostingClassifier()
)

params = {
    'histgradientboostingclassifier__learning_rate': loguniform(0.001,0.1)
}

search = RandomizedSearchCV(pipe, param_distributions=params, n_jobs=-1)
search.fit(X_tr,y_tr)
y_pred = search.predict(X_dev)

print(classification_report(y_pred,y_dev))

              precision    recall  f1-score   support

       False       0.72      0.84      0.77       736
        True       0.86      0.76      0.81      1003

    accuracy                           0.79      1739
   macro avg       0.79      0.80      0.79      1739
weighted avg       0.80      0.79      0.79      1739

# Benchmark 2

- only use two cat columns
- hgb

In [20]:
df = pd.read_csv(os.path.join(PATH,'train.csv'))
y = df.pop('Transported')
X = df

X_tr, X_dev, y_tr, y_dev = train_test_split(X,y,test_size=0.2)

ohe = OneHotEncoder(drop='if_binary')
scaler = StandardScaler()



ct = make_column_transformer(
    (ohe, ['Destination','HomePlanet']),
    # (scaler, make_column_selector(dtype_include=np.number)),
    remainder='drop',
    sparse_threshold=0  # ensures dense output required for passing to HGB 
)

pipe = make_pipeline(
    ct,HistGradientBoostingClassifier()
)

params = {
    'histgradientboostingclassifier__learning_rate': loguniform(0.001,0.1)
}

search = RandomizedSearchCV(pipe, param_distributions=params, n_jobs=-1)
search.fit(X_tr,y_tr)
y_pred = search.predict(X_dev)

print(classification_report(y_pred,y_dev))

              precision    recall  f1-score   support

       False       0.56      0.58      0.57       815
        True       0.62      0.60      0.61       924

    accuracy                           0.59      1739
   macro avg       0.59      0.59      0.59      1739
weighted avg       0.59      0.59      0.59      1739

# Take-away

- numerical values alone have good prediction power